@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #d7d7d7;
}

h1, .about{
  font-family: 'Caveat', sans-serif;
  font-weight: 400;
  font-size: 4rem;

}

.paragraph{
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  
}

.clip{
  clip-path: polygon(50% 0%, 100% 0, 100% 48%, 50% 100%, 0 48%, 0 0);
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 48%, 50% 100%, 0 48%, 0 0);
}
.clip2{
  clip-path: polygon(100% 15%,100% 86%, 0 100%, 0 0);
 
}
.clip3{
  clip-path: polygon(100% 0, 100% 100%, 0 90%, 0 50%, 0 10%);
}

.textShadow{
  text-shadow: 10px 10px 35px #000;
}

.active{
  position: sticky;
  top: 0;
}


@keyframes cloud {
  0%{
    transform: translate(-100%);

  }
  100%{
    transform: translate(100%);
  }
}


@media (max-width: 768px){
  .clip2{
    clip-path: none;
  }
}